<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <form method="POST" action="/reviews">
          {{> reviews-form}}
        <p>
            <button type="submit">Submit Review</button>
        </p>

      </form>
      <a href="../">Quit</a>
  </div>
</div>
