<center><h1>Reviews</h1></center>
<a href="/reviews/new">New Review</a
{{#each reviews}}
  <br><br>
  <h2>Film: {{this.movieTitle}} - {{this.movieRating}} potatoes out of 4</h2>
  <h3>{{this.title}}</h3>
  <p>{{this.description}}</p>
  <br>
{{/each}}
