<center><h1>Reviews</h1></center>
<a href="/reviews/new">New Review</a
{{#each reviews}}
  <br><br>
  <h3>Film: {{this.movieTitle}} - {{this.movieRating}} potatoes out of 4</h3>
  <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
  <br>
{{/each}}
